#read{
    height: 100%;
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
#text{
    background-color: #e6e6e6;
    border-radius: 10px;
    overflow-y: scroll;
    width: 100%;
    padding: 20px;
    align-content: center;
    justify-content: center;
}