<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/browsestyle.css' %}">
</head>
<body>
<div id="header">
    <div id="icons">
        {% load static %}
        <img id="logo" src="{% static 'media/Logo.png' %}" alt="Write stuff">
        <p>ee</p>
    </div>
    <div id="navbar">
        <a class="tab" href="google.com">Browse</a>
        <a class="tab" href="google.com">Write</a>
        <a class="tab" href="google.com">Continue</a>
    </div>
</div>
<form id="search">
    <input id="story_name" type="text" name="story_name">
    <input id="submit" type="submit" value="Search">
</form>
<div id="list">
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
</div>
</body>
</html>