{% extends "base.html" %}

{% block title %}Browse{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'browsestyle.css' %}">
{% endblock %}

{% block content %}
    <form id="search">
    <input id="story_name" type="text" name="story_name">
    <input id="submit" type="submit" value="Search">
</form>
<div id="list">
    <div class="results">
        <h1>sda</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
    <div class="results">
        <h1>sds</h1>
        <p>Kategorie: 0 Länge: 0 Likes: 0</p>
    </div>
</div>
{% endblock %}